---
import Link from "../Link.astro";
import Paragraph from "../Paragraph.astro";

const projects = await Promise.all(
  Object.entries(import.meta.glob('../../pages/portfolio/*.md', { eager: true }))
    .map(([path, project]) => ({
      ...(project as any),
      url: path.replace('../../pages', '').replace('.md', '')
    }))
);

const sortedProjects = projects.sort((a, b) => {
  const dateA = new Date(a.frontmatter.pubDate);
  const dateB = new Date(b.frontmatter.pubDate);
  return dateB.getTime() - dateA.getTime();
}).slice(0, 3);

function formatDate(dateString: string): string {
  const date = new Date(dateString);
  return date.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'short',
    day: 'numeric'
  });
}
---

<section>
  <div class="mb-8">
        <h2 class="text-2xl font-bold">portfolio</h2>
        <Paragraph>the projects I'm most proud of, <Link href="/portfolio">see all here</Link></Paragraph>
    </div>

    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {sortedProjects.map((project) => (
        <article class="group flex max-w-xl flex-col items-start text-primary/80 hover:text-secondary transition-colors">
          <div class="relative">
              <img 
                src={project.frontmatter.icon} 
                alt={project.frontmatter.title} 
                class="w-10 h-10 invert" 
              />
          </div>
          <div class="relative">
            <h3 class="mt-4 font-semibold text-primary group-hover:text-secondary transition-colors">
              <a href={project.url}>
                <span class="absolute inset-0"></span>
                {project.frontmatter.title}
              </a>
            </h3>
            <p class="mt-2 line-clamp-3 text-sm font-light ">{project.frontmatter.description}</p>
          </div>
        </article>
      ))}
    </div>
</section> 